<h3>You're playing.... Blackjack!</h3>

<p>Dealer's cards:</p>
  <% session[:dealer_cards].each_with_index do |card, i| %>
    <% if i == 0 && session[:dealer_stand?] == false %>
      <img class='card' src="images/cards/cover.jpg"></span>
    <% else %>
      <%= get_card_image(card) %>
    <% end %>
  <% end %>
</br></br></br>

<p><%= session[:player_name] %>'s cards:</p>
  <% session[:player_cards].each do |card| %>
    <%= get_card_image(card) %>
  <% end %>
</br></br>
<p>Player's hand value: <%= session[:player_hand_value].to_s %></p>



<!-- Display different options if either player or dealer has busted -->
<% if session[:player_bust?] == true || session[:dealer_bust?] == true %>
  <% if session[:player_bust?] == true %>
    <p><%= session[:player_name] %> Busted!</p>
  <% else %>
    <p>Dealer Busted!</p>
  <% end %>


  <form action='/startover' method='post'>
    <input type="submit" class="btn btn-primary" value="Start Over"/>
  </form>
<% else %>  <!-- Neither player nor dealer has busted yet -->
  <% if session[:player_stand?] == true %>
    <p><%= session[:player_name] %> Stands</p>
    </br>
  <% end %>
  <form action='/hit' method='post'>
    <input type='text' name="bet"></br>
    <input type="submit" class="btn btn-primary" value="Hit"/>
  </form>
  <form action='/stand' method='post'>
    <input type="submit" class="btn btn-primary" value="Stand"/>
  </form>
<% end %>